<!-- Main Content -->
<div id="content">

{% include './components/topbar.html' %}

<!-- Begin Page Content -->
<div class="container-fluid">


    <!-- Area Chart -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
    </div>
    <div class="card-body">
        <div class="chart-area">
        <canvas id="stockChart"></canvas>
        </div>
        <hr>
        <p class="card-text">
            Styling for the area chart can be found in the <code>/js/demo/chart-area-demo.js</code> file.
        </p>
        <div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>

    </div>
    </div>

    <!-- Page level plugins -->
    <script src="/static/thirdparties/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/js/charts/stock-chart.js"></script>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->