
<!-- Main Content -->
<div id="content">

    {% include './components/topbar.html' %}
    
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Area Chart -->
        <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 style="display:inline" class="m-0 font-weight-bold text-primary">{{ stockTicker }}:</h6>
                    <h6 style="display:inline;"> {{ stockTitle }} </h6>
                </div>
                <div class="card-body">

                {% include './components/tradingview_widget_single.html' %}
            
                <hr>
                <p class="card-text">
                    Some text here
                </p>
                <div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            
            </div>
        </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->