<!-- DataTales Example -->
<div class="card shadow mb-4">
        <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Current holdings</h6>
        </div>
        <div class="card-body">
        <div class="table-responsive">
            {% if holdings %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                    <th>Stock</th>
                    <th>Quantity</th>
                    <th>Current Price</th>
                    <th>Worth</th>
                    </tr>
                </thead>
                <tbody>
                    {% for holding in holdings %}
                        <tr>
                        <td>{{ holding }}</td>
                        <td>{{ holdings[holding]['quantity']}}</td>
                        <td>{{ holdings[holding]['current_price']}}</td>
                        <td>{{ holdings[holding]['worth']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            {% endif %}
            {% if not holdings %}
                You have no holdings.
            {% endif %}
        </div>
        </div>
    </div>
    