<!-- DataTales Example -->
<div class="card shadow mb-4">
        <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Current holdings</h6>
        </div>
        <div class="card-body">
        <div class="table-responsive">
            {% if holdings %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                    <th>Stock</th>
                    <th>Quantity</th>
                    <th>Book Price</th>
                    <th>Current Price</th>
                    <th>Book Worth</th>
                    <th>Current Worth</th>
                    <th>Gain ($)</th>
                    <th>Gain (%)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for holding in holdings %}
                        <tr>
                        <td>{{ holding }}</td>
                        <td>{{ holdings[holding]['quantity'] }}</td>
                        <td>{{ holdings[holding]['book_price'] }}</td>
                        <td>{{ holdings[holding]['current_price'] }}</td>
                        <td>{{ holdings[holding]['book_worth']}}</td>
                        <td>{{ holdings[holding]['current_worth']}}</td>
                        <td {% if holdings[holding]['gain$'] > 0 %} class="text-success" {% endif %}
                            {% if holdings[holding]['gain$'] < 0 %} class="text-danger" {% endif %}>
                        {{ holdings[holding]['gain$'] }}</td>
                        <td {% if holdings[holding]['gain%'] > 0 %} class="text-success" {% endif %}
                            {% if holdings[holding]['gain%'] < 0 %} class="text-danger" {% endif %}>
                        {{ holdings[holding]['gain%'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            {% endif %}
            {% if not holdings %}
                You have no holdings.
            {% endif %}
            Stock prices are provided by IEX Finance / IEX Cloud.
        </div>
        </div>
    </div>
    