<style>
    body iframe{
        height: 500px !important;
    }
</style>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/{{ stockTicker }}/" rel="noopener" target="_blank"><span class="blue-text">{{ stockTicker }} Fundamental Data</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-financials.js" async>
        {
        "symbol": "{{ stockTicker }}",
        "colorTheme": "light",
        "isTransparent": false,
        "largeChartUrl": "",
        "displayMode": "regular",
        "width": "50%",
        "height": "100%",
        "locale": "en"
      }
        </script>
      </div>
      <!-- TradingView Widget END -->