<html>

{% include './html_head/dashboard_head.html' %}

<link href='/static/styles/dashboard.css' rel="stylesheet">

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    {% include './components/sidebar.html' %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

    {% include './containers/page_contents/dashboard_content.html' %}

    {% include './footers/default_footer.html' %}

    </div>

</div>

{% include './components/logout_modal.html' %}
{% include './components/js_imports.html' %}
        
</body>

</html>

