<html>

{% include './html_head/dashboard_head.html' %}

<link href='/static/styles/dashboard.css' rel="stylesheet">

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    {% include './components/sidebar.html' %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

        {% include './components/topbar.html' %}
        
            <!-- Begin Page Content -->
            <div class="container-fluid">
            
                <!-- Area Chart -->
                <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                    <canvas id="stockChart"></canvas>
                    </div>
            
                </div>
                </div>
            
                <!-- Page level plugins -->
                <script src="/static/thirdparties/chart.js/Chart.min.js"></script>
            
                <!-- Page level custom scripts -->
                <script src="/static/js/charts/stock-chart.js"></script>
            
                {% include "./components/current_holdings.html" %}
            
            </div>
            <!-- /.container-fluid -->
        
        </div>
        <!-- End of Main Content -->

    {% include './footers/default_footer.html' %}

    </div>

</div>

{% include './components/js_imports.html' %}
        
</body>

</html>

